/.vs/*
/DataComm/bin/*
/DataComm/DataComm.csproj
/DataComm/obj/Debug/*
/DataComm/Properties/AssemblyInfo.cs
/Host/bin/*
/Host/Host.csproj
/Host/Host.csproj.user
/Host/obj/Debug/*
/Host/Properties/AssemblyInfo.cs
/MessageService.sln
/MessageService/bin/*
/MessageService/MessageService.csproj
/MessageService/MessageService.csproj.user
/MessageService/obj/Debug/*
/MessageService/Properties/AssemblyInfo.cs
/packages/*
/DataComm.Tests/*
/MessageService.Tests/*
